.movie-main {
  // background-color: #486d46;            /* 背景色 */
  background-image: image-url('red-curtain.jpeg'); /* 画像 */
  background-size: cover;               /* 全画面 */
  // background-attachment: fixed;         /* 固定 */
  background-position: center center;   /* 縦横中央 */
  padding-bottom: 10vh;
}

.pickup_title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  width: 25vw;
  position: relative;
  margin: 30px;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  font-family: "YuGothic","Yu Gothic","Meiryo","ヒラギノ角ゴ","sans-serif";
  height: 50px; /*リボンの高さ*/
  line-height: 50px;  /*文字の縦位置*/
  padding: 0 30px;  /*文字の開始位置*/
  font-size: 25px;  /*文字サイズ*/
  background-color: #e53939;
}


.title::before,
.title::after {
  content: '';
  position: absolute;
}
.title::before {
  top: 100%;
  left: 0;
  border-right: 20px solid #9b1e03;
  border-bottom: 20px solid transparent;
}
.title::after {
  top: 100%;
  right: 0;
  border-left: 20px solid #9b1e03;
  border-bottom: 20px solid transparent;
}

.search_btn{
  padding: 0 10px;
}
/* 画面上部の「人生を変えるフリマアプリ」帯部分 */

.movie-contents.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 90vw;
}

.title-contents {
  width: 100vw;
  background-image: image-url('furima-header01.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 8vh;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}

.store-btn {
  display: flex;
  margin-top: 24px;
}

.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

.google-btn {
  height: 9vh;
}

/* //画面上部の「人生を変えるフリマアプリ」帯部分 */

/* FURIMAが選ばれる3つの理由部分 */
.select-reason-contents {
  padding: 5vh 15vw;
}

.select-reason-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.select-reason-contents>.title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: #3ccace;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.reason-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reason-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.list-pict {
  margin-bottom: 20px;
  width: 100%;
}

.reason-list-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  background-color: #3ccace;
  color: #fff;
}

.reason-list-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
}

.reason-list-blue-text {
  color: #3ccace;
}

.reason-list-description {
  font-size: 18px;
  margin-top: 20px;
}

/* //FURIMAが選ばれる3つの理由部分 */


/* 画面中央の「会員数日本一位」帯部分*/
.ad-contents {
  width: 100vw;
  background-image: image-url('furima-header01.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.ad-title {
  font-size: 5vh;
  margin-bottom: 2vh;
}

.ad-explain {
  font-size: 2.5vh;
  line-height: 30px;
}

.store-btn {
  display: flex;
  margin-top: 24px;
}

.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

.google-btn {
  height: 9vh;
}

/* //画面中央の「会員数日本一位」帯部分 */

/* FURIMAの特徴 */
.feature-contents {
  padding: 5vh 15vw;
}

.feature-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.feature-contents>.title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: #3ccace;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.feature-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feature-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-list-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 50px;
}

.feature-list-description {
  font-size: 18px;
  margin-top: 20px;
}

/* //FURIMAの特徴 */

/* 商品一覧 */

.movie-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
  margin-top: 5vh;
  border-radius: 10px;
}

.movie-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.movie-contents>.subtitle {
  font-size: 4vh;
  margin: 20px 0;
  font-weight: bold;
  position: relative;
  padding-left: 35px;
  color: rgb(3, 88, 245);
}

.movie-contents>.subtitle:before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  content: "\f06a";
  background: #ffca2c;
  color: white;
  font-weight: 1000;
  font-size: 25px;
  border-radius: 50%;
  left: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.movie-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}


.movie-img-content {
  position: relative;
}

.movie-img {
  width: 220px;
  height: 310px;
}

.movie-info {
  height: 70px;
  background-color: #FFF;
  color: black;
  padding: 10px 10px 0 10px;
}

.movie-name {
  font-size: 2.5vh;
}

.tag-list {
  font-size: 13px;
  padding: 0 0 60px 1vw;
}

.tag-btn {
  font-size: 13px;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  margin-top: 10px;
  text-decoration: none;
  color: #FFF;
  background: #17b3fc;/*色*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #00a2ff;/*線色*/
}

.tag-btn:active {
  /*押したとき*/
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}

.pagination {
  display: flex;
  justify-content: center;
}
