.user-show-content.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 90vw;
}
.user-show-content{
background-color: #FFF;
display: flex;
flex-direction: column;
padding: 5vh 0;
border-radius: 10px;
margin-bottom: 30px;
}

.user-show-bar>text{
  font-size: 30px;
}

.user-show-profile{
 margin-top: 30px;
 padding: 30px; 
}

.user-profile-title{
  margin-bottom: 20px;
}

.user-show-nickname{
  margin-top: 30px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-show-image{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-show-score{
  margin-top: 30px;
  text-align: center;
}