// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.star-rating {
  position: relative;
  width: 10em;
  height: 1em;
  font-size: 40px;
  margin-bottom: 30px;
}
.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}
.star-rating-back {
  color: #ccc;
}

.average-score {
  display: flex;
}
.average-score-display {
  font-size: 22px;
  margin-bottom: 1vh;
}

.rating-box .story_ratings .impact_ratings .impressed_ratings .happy_ratings .character_ratings .beautiful_rating .fa{
  font-size: 30px;
  color:#ffcc00;
  cursor: pointer;
}

.rating-box .story_ratings .fa{
  font-size: 30px;
  color:#ffcc00;
  cursor: pointer;
}

.rating-box .impact_ratings .fa{
  font-size: 30px;
  color:#ffcc00;
  cursor: pointer;
}

.rating-box .impressed_ratings .fa{
  font-size: 30px;
  color:#ffcc00;
  cursor: pointer;
}

.rating-box .happy_ratings .fa{
  font-size: 30px;
  color:#ffcc00;
  cursor: pointer;
}

.rating-box .character_ratings .fa{
  font-size: 30px;
  color:#ffcc00;
  cursor: pointer;
}

.rating-box .beautiful_ratings .fa{
  font-size: 30px;
  color:#ffcc00;
  cursor: pointer;
}

.main-rating {
  display: flex;
}

.rating-value-display {
  font-size: 20px;
}
