.login-btn {
  width: 50%;
  margin: 0 auto;
}

.login-red-btn {
  width: 100%;
  background: #ea982d;
  border: 5px solid #f0b358;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 50px;
}

.login-flash-message {
  text-align: center;
  color: red;
}